body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: #F1C293;
}

h1{
    font-weight: 700 !important;
    font-size: 4rem;
    z-index: 1;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.button-container a{
    background-color: #F1C293;
    color: white;
    height: 40px;
    border: none;
    width: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.header-torres{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    max-width: 100vw;
    max-height: 400px;
    z-index: 0;
}

.button-container a:hover{
    display: flex;
    /* border: 2px solid white; */
    scale: 1.05;
}

h2, h3, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important; /* Bold */
}

h4 {
    font-size: 0.8rem;
    font-weight: 400 !important;
    font-style: italic;
    z-index: 1;
}

.header{
    background-color: rgb(169, 139, 139);
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.title{
    font-weight:lighter;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    background-color: rgb(169, 139, 139);

    display: flex;
    width: auto;
}

.soft {
    background-color: rgb(169, 139, 139);
    color: black;
    font-weight: bold;
}

.navbar ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
}

.navbar ul li a{
    color: #F1C293;
    text-decoration: none;
}

.navbar ul li a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.body{
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
    height: fit-content;
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    .body{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        width: 100%;
        gap: 40px;
        height: fit-content;
        padding-bottom: 100px;
    }
}

.space{
    height: 50px;
}

.video-player{
    /* scale: 0.6; */
    margin-top: 100px;
    padding-left: 0;
    padding-right: 0;
    max-width: 400px;
    max-height: 500px;
    width: auto;
    min-height: auto;
}

/* hide video controls */

.video-player::-webkit-media-controls {
    display: none !important;
}

.video-player::-webkit-media-controls-volume-slider {
    display: initial !important;
}

.video-player::-webkit-media-controls-mute-button {
    display: initial !important;
}

/* SCROLL ANIMATION */

.scrolling-text-container {
    width: 100%;
    overflow: hidden;
}

.scrolling-text-wrapper {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
}

.scrolling-text-wrapper-right {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
}

.scrolling-text {
    display: inline-block;
    padding-right: 50px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(160%);
    }
}



/* EVENTS */

.events{
    background-color: rgb(169, 139, 139);
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.event-cards-container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.event-card{
    width: 400px;
    height: 400px;
    background-size: cover;
}

.footer{
    min-height: 200px;
    background-color: black;
    width: 100%;
}


/* #loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #vinyl-image {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #loading-container.loaded {
    display: none;
  }
  
  #vinyl-image{
    max-width: 100px;
    top: 50vh;
    left: 50vw;
  }

  .background-loader{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  } */